.navbar_links{
    align-items:center ;
}
.nav_links{
    display: flex;
    justify-content: space-around;
}
 a{
    font-size: 18px;

 }

 .link:hover{
    text-decoration-line: overline;
    color: blue;
 }
 .login {
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
 }
 .nav_center{
   margin: 10px 0;
 }